{% extends 'blog/base.html' %}
<div class="container">
    <!--Plantilla para busqueda -->
    <h1> Busqueda </h1>
 
  

    <h3>Buscar conductor por documento:</h3>

       

    {% if resultados %}

    <p>Los conductores asociados a su busqueda: ({{consulta}})</p>
    
    <ul>
    {% for resultado in resultados %}
        <li> {{ resultado}} </li>
        <li> {{ resutltado.primer_apellido}} </li>
        <li> {{resutltado.dni}} </li>
    {% endfor %}

    </ul>

    {% endif %}

    {% if error %}
    <p>{{error}}</p>
    {% endif %}

</div>

{% endblock %}
