{% load static%}

    <div class="container">
      <div class="row home-hero">
        <div class="col-sm-12 col-md-7">
          <h1>El mejor blog para la enseñanza de la ciencia</h1>
            </br>
              <p> Un blog de entusiastas de la ciencia, para todos...</p>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="image-container">
            <img src="{% static 'images/lemniscate-curve-python.png' %}" /> 
          </div>
        </div>
      </div>
 
      




 