<div class="home home_editors_wrapper">
      
    <div class="row">

      <div class="cols-xs-12 col-md-6 col-lg-4 mb-5">
        <h1>Matemática</h1>
          </br>
            <p>El lenguanje de la ciencia</p>
      </div>

      <div class="cols-xs-12 col-md-6 col-lg-4 mb-5">
        <h1>Física</h1>
          </br>
            <p> Los cuerpos y su interación</p>
      </div>

      <div class="cols-xs-12 col-md-6 col-lg-4 mb-5">
        <h1>Química</h1>
          </br>
            <p>Composición,estructura y propiedades</p>
      </div>


    </div>
  </div>